#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container{
  border: 6px solid rgb(12, 139, 97);
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.main-cart-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart{
  background-color: rgb(127, 255, 212);
  width:120px;
  height:40px;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-weight: bold;
  font-size: 24px;
}

.span-counter{
  background-color: yellow;
  width:100px;
  height:50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 10px;
}
.span-counter-more-zero{
  background-color:  rgb(127, 255, 212);
  width:100px;
  height:50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 10px;
}

.counter-app{
  display: flex;
  justify-content: center;
  align-items: center;
}
.increase-btn,.decrease-btn{
  background-color: grey;
  margin-right: 10px;
  color:white;
  width:50px;
  height: 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size:20px;
}
.decrease-btn{
  background-color:  rgb(79, 197, 128);
}
.delete-btn{
  background-color: rgb(199, 72, 72);
  color:#fff;
  width:50px;
  height: 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.cart-desc{
  font-weight: bold;
  font-size: 20px;
}

.reset-btn,.restart-btn{
  background-color: rgb(34, 184, 189);
  width:50px;
  height: 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  color: #fff;
}